# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
venv.bak/
.env/
venv.bak/

# Spyder project settings
.spyderproject
.spyderproject.lock

# Rope project settings
.ropeproject

# PyCharm
#  JetBrains specific
.idea/
*.iml
*.iws
*.ipr

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.web/assets

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/_generated/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
ENV.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
*.swp


# IDEs其它
# VSCode Users
.vscode/
.history/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini